<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:sec="http://www.springframework.org/security/tags"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/template/layoutPubblico.xhtml">

	<ui:define name="body">  
		 <b:container>
            <b:jumbotron>
             <h:form id="formGemme">
             
            	<p:messages id="messages" showDetail="true" closable="true">
			    </p:messages>
                <h1>Gestione Gemme</h1>
                <p> Gestione gemme spirituali</p>

               	<p:commandButton value="Inserisci oratore gemme" type="button" onclick="PF('dlgInsertGemma').show();" /> 
               	
                <p:dialog widgetVar="dettagliGemma" id="dialogDettagliGemma" closable="true" resizable="true" modal="true" draggable="false" showEffect="explode" hideEffect="clip">
						<ui:include src="modificaGemmeModale.xhtml" />
				</p:dialog>
				
				<h:form id="frmDataTableGemme">
	                <p:dataTable id="dataTableGemme" var="item" value="#{gemmeBean.gemmeList}" paginator="true"
						rows="25" paginatorPosition="bottom" paginatorTemplate="{FirstPageLink} {PreviousPageLink} {CurrentPageReport} {RowsPerPageDropdown} {NextPageLink} {LastPageLink}"
						rowsPerPageTemplate="10,25,50,100" filteredValue="#{gemmeBean.filteredGemme}" reflow="true">
						<ui:include src="dataTableGemme.xhtml"/>
					</p:dataTable>
				</h:form>
				
				 <p:dataTable rendered="false" id="dataTableGemmeHidden" var="item" value="#{gemmeBean.gemmeList}" paginator="true"
					rows="25" paginatorPosition="bottom" paginatorTemplate="{FirstPageLink} {PreviousPageLink} {CurrentPageReport} {RowsPerPageDropdown} {NextPageLink} {LastPageLink}"
					rowsPerPageTemplate="10,25,50,100" filteredValue="#{gemmeBean.filteredGemme}" reflow="true">
					<ui:include src="dataTableGemmeHidden.xhtml"/>
				</p:dataTable>
				
				<h3>Esporta dati</h3>
				    <h:commandLink>
				    	<img src="../images/excel.png" alt="Excel" height="24" width="24"></img>
				        <p:dataExporter type="xls" target="dataTableGemmeHidden" fileName="gestione_gemme" pageOnly="false"/>
				    </h:commandLink>
				 
				    <h:commandLink>
				        <img src="../images/pdf.png" alt="PDF" height="24" width="24"></img>
				        <p:dataExporter type="pdf" target="dataTableGemmeHidden" fileName="gestione_gemme" pageOnly="false" />
				    </h:commandLink>
					
               </h:form>
               
               <h:form id="formInsert">
              		 <p:dialog header="Inserisci" widgetVar="dlgInsertGemma" modal="true" showEffect="explode" hideEffect="clip" height="330">
					    <div align="center">
					    	<p:outputLabel for="nome" value="Nome:" />
					    	<br/>
					        <p:inputText id="nome" value="#{gemmeBean.gemma.nome}">
							</p:inputText>
						<br/> <p:outputLabel for="cognome" value="Cognome:" />
						<br/>
						 <p:inputText id="cognome" value="#{gemmeBean.gemma.cognome}">
							</p:inputText>
				        <br/>  
				            <p:outputLabel for="dataLettura" value="Data ultima parte:" />
	      					 <p:calendar id="dataLettura" value="#{gemmeBean.gemma.dataLettura}" mode="inline" locale="it"/>
					    <br/>  
					    	<p:commandButton oncomplete="PF('dlgInsertGemma').hide()" update="formInsert, formGemme:messages, formGemme:frmDataTableGemme:dataTableGemme" process="formInsert" actionListener="#{gemmeBean.addGemma}" value="Inserisci"></p:commandButton>
					    </div>
					</p:dialog>
               </h:form>
            </b:jumbotron>
        </b:container>
	</ui:define>
</ui:composition>