<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h2 class="page-header" align="center">Dettagli oratore gemma <p style="color:blue;font-size:25px;">#{gemmeBean.gemma.cognome} #{gemmeBean.gemma.nome}</p></h2>
		
		<div align="center">
			<div align="center">
		            <p:outputLabel for="dataLettura" value="Data ultima parte:" />
     					 <p:calendar locale="it" id="dataLettura" value="#{gemmeBean.gemma.dataLettura}" mode="inline" disabled="#{gemmeBean.dataNulla}"/>
			    <br/>  
			     <p:outputLabel for="dataLettura" value="Data vuota:" />
			     <br/>
			    <p:selectBooleanCheckbox id="checkDataNulla" value="#{gemmeBean.dataNulla}">
		    		<p:ajax update="dataLettura" />
		    	</p:selectBooleanCheckbox>
				<br/>
				<p:commandButton oncomplete="PF('dettagliGemma').hide()" update="formGemme:messages, formGemme:frmDataTableGemme:dataTableGemme, formGemme:dialogDettagliGemma" actionListener="#{gemmeBean.modificaGemma}" value="Modifica"></p:commandButton>
			</div>
		</div>

</html>

