<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<p:column headerText="Nome Oratore" style="width: 15%;">
	<h:outputText value="#{item.nome}">
	</h:outputText>
</p:column>

<p:column headerText="Cognome Oratore" style="width: 15%;" >
	<h:outputText value="#{item.cognome}">
	</h:outputText>
</p:column>

<p:column headerText="Data Ultima preghiera" style="width: 15%;" >
	<h:outputText value="#{item.dataLettura}">
		<f:convertDateTime locale="it" timeStyle="long"  dateStyle="full"/>
	</h:outputText>
</p:column>

	


</html>
