<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:sec="http://www.springframework.org/security/tags"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/template/layoutPubblico.xhtml">

	<ui:define name="body">  
		 <b:container>
            <b:jumbotron>
             <h:form id="formPreghiere">
            	<p:messages id="messages" showDetail="true" closable="true">
			    </p:messages>
                <h1>Gestione Preghiere</h1>
                <p> Gestione oratori per preghiere</p>

               	<p:commandButton value="Inserisci oratore preghiera" type="button" onclick="PF('dlgInsertPreghiera').show();" /> 
               	
                <p:dialog widgetVar="dettagliPreghiera" id="dialogDettagliPreghiera" closable="true" resizable="true" modal="true" draggable="false" showEffect="explode" hideEffect="clip">
						<ui:include src="modificaPreghiereModale.xhtml" />
				</p:dialog>
				
				<h:form id="frmDataTablePreghiere">
	                <p:dataTable id="dataTablePreghiere" var="item" value="#{preghiereBean.preghiereList}" paginator="true"
						rows="25" paginatorPosition="bottom" paginatorTemplate="{FirstPageLink} {PreviousPageLink} {CurrentPageReport} {RowsPerPageDropdown} {NextPageLink} {LastPageLink}"
						rowsPerPageTemplate="10,25,50,100" filteredValue="#{preghiereBean.filteredPreghiere}" reflow="true">
						<ui:include src="dataTablePreghiere.xhtml"/>
					</p:dataTable>
				</h:form>
				
				<p:dataTable rendered="false" id="dataTablePreghiereHidden" var="item" value="#{preghiereBean.preghiereList}" paginator="true"
					rows="25" paginatorPosition="bottom" paginatorTemplate="{FirstPageLink} {PreviousPageLink} {CurrentPageReport} {RowsPerPageDropdown} {NextPageLink} {LastPageLink}"
					rowsPerPageTemplate="10,25,50,100" filteredValue="#{preghiereBean.filteredPreghiere}" reflow="true">
					<ui:include src="dataTablePreghiereHidden.xhtml"/>
				</p:dataTable>
				
				<h3>Esporta dati</h3>
				    <h:commandLink>
				    	<img src="../images/excel.png" alt="Excel" height="24" width="24"></img>
				        <p:dataExporter type="xls" target="dataTablePreghiereHidden" fileName="gestione_preghiere" pageOnly="false"/>
				    </h:commandLink>
				 
				    <h:commandLink>
				        <img src="../images/pdf.png" alt="PDF" height="24" width="24"></img>
				        <p:dataExporter type="pdf" target="dataTablePreghiereHidden" fileName="gestione_preghiere" pageOnly="false" />
				    </h:commandLink>
					
               </h:form>
               
               <h:form id="formInsert">
              		 <p:dialog header="Inserisci" widgetVar="dlgInsertPreghiera" modal="true" showEffect="explode" hideEffect="clip" height="330">
					    <div align="center">
					    	<p:outputLabel for="nome" value="Nome:" />
					    	<br/>
					        <p:inputText id="nome" value="#{preghiereBean.preghiera.nome}">
							</p:inputText>
						<br/> <p:outputLabel for="cognome" value="Cognome:" />
						<br/>
							 <p:inputText id="cognome" value="#{preghiereBean.preghiera.cognome}">
							</p:inputText>
				        <br/>  
				            <p:outputLabel for="dataLettura" value="Data ultima preghiera:" />
	      					 <p:calendar locale="it" id="dataLettura" value="#{preghiereBean.preghiera.dataLettura}" mode="inline" />
					    <br/>  
					    	<p:commandButton oncomplete="PF('dlgInsertPreghiera').hide()" update="formInsert, formPreghiere:messages, formPreghiere:frmDataTablePreghiere:dataTablePreghiere" process="formInsert" actionListener="#{preghiereBean.addPreghiera}" value="Inserisci"></p:commandButton>
					    </div>
					</p:dialog>
               </h:form>
            </b:jumbotron>
        </b:container>
	</ui:define>
</ui:composition>