<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h2 class="page-header" align="center">Dettagli oratore preghiera <p style="color:blue;font-size:25px;">#{preghiereBean.preghiera.cognome} #{preghiereBean.preghiera.nome}</p></h2>
		
		<div align="center">
			<div align="center">
		            <p:outputLabel for="dataLettura" value="Data ultima preghiera:" />
     					 <p:calendar locale="it" id="dataLettura" value="#{preghiereBean.preghiera.dataLettura}" mode="inline" disabled="#{preghiereBean.dataNulla}"/>
			    <br/>  
			     <p:outputLabel for="dataLettura" value="Data vuota:" />
			     <br/>
			    <p:selectBooleanCheckbox id="checkDataNulla" value="#{preghiereBean.dataNulla}">
		    		<p:ajax update="dataLettura" />
		    	</p:selectBooleanCheckbox>
				<br/>
				<p:commandButton oncomplete="PF('dettagliPreghiera').hide()" update="formPreghiere:messages, formPreghiere:frmDataTablePreghiere:dataTablePreghiere, formPreghiere:dialogDettagliPreghiera" actionListener="#{preghiereBean.modificaPreghiera}" value="Modifica"></p:commandButton>
			</div>
		</div>

</html>

