<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

	<h:head>
		<title>Gestione oratori</title>
		<h:outputStylesheet library="css" name="style.css" />
	</h:head>
	
	<script type="text/javascript">  
	 	PrimeFaces.locales ['it'] = { closeText: 'Chiudi', prevText: 'Precedente', nextText: 'Prossimo', monthNames: ['Gennaio', 'Febbraio', 'Marzo', 'Aprile', 'Maggio', 'Giugno', 'Luglio', 'Agosto', 'Settembre', 'Ottobre', 'Novembre', 'Dicembre' ], monthNamesShort: ['Gen', 'Feb', 'Mar', 'Apr', 'Mag', 'Giu', 'Lug', 'Ago', 'Set', 'Ott', 'Nov', 'Dic' ], dayNames: ['Domenica', 'Lunedì', 'Martedì', 'Mercoledì', 'Giovedì', 'Venerdì', 'Sabato'], dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mer', 'Gio', 'Ven', 'Sab'], dayNamesMin: ['D', 'L', 'M', 'M ', 'G', 'V ', 'S'], weekHeader: 'Sett', firstDay: 1, isRTL: false, showMonthAfterYear: false, yearSuffix:'', timeOnlyTitle: 'Solo Tempo', timeText: 'Ora', hourText: 'Ore', minuteText: 'Minuto', secondText: 'Secondo', currentText: 'Data Odierna', ampm: false, month: 'Mese', week: 'Settimana', day: 'Giorno', allDayText: 'Tutto il Giorno' };
	</script> 

	<h:body style="padding-top: 50px; padding-bottom: 20px;">
	
		<b:navBar brand="Gestione Oratori Menu Principale" brandHref="/home.xhtml"
			inverse="true" fixed="top">
			<b:navbarLinks>
				<b:dropMenu value="Seleziona funzione">
					<b:navLink value="Gesione Lettori" href="/lettori/gestioneLettori.xhtml"></b:navLink>
					<b:navLink value="Gesione Gemme" href="/gemme/gestioneGemme.xhtml"></b:navLink>
					<b:navLink value="Gesione Preghiere" href="/preghiere/gestionePreghiere.xhtml"></b:navLink>
					<b:navLink value="Gesione Tesori" href="/tesori/gestioneTesori.xhtml"></b:navLink>
				</b:dropMenu>
			</b:navbarLinks>
	
		</b:navBar>
	
		<ui:insert name="body">
			<b:jumbotron>
				<b:container>
				</b:container>
			</b:jumbotron>
		</ui:insert>
	
		<ui:insert name="footer">
			<b:container>
				<hr />
				<footer>
					<p>©Daniel Russo</p>
				</footer>
			</b:container>
		</ui:insert>
	
	</h:body>
</html>