<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<p:column headerText="Nome Oratore" style="width: 15%;" filterBy="#{item.nome}">
	<h:outputText value="#{item.nome}">
	</h:outputText>
</p:column>

<p:column headerText="Cogn. Oratore" style="width: 15%;" filterBy="#{item.cognome}">
	<h:outputText value="#{item.cognome}">
	</h:outputText>
</p:column>

<p:column headerText="Data Ultima parte" style="width: 15%;" filterBy="#{item.dataLettura}">
	<h:outputText value="#{item.dataLettura}">
		<f:convertDateTime locale="it" timeStyle="long"  dateStyle="full"/>
	</h:outputText>
</p:column>

 <p:column style="width:32px;text-align: center">
       <p:commandButton update="formTesori:messages, dataTableTesori" action="#{tesoriBean.removeTesoro}" icon="ui-icon-trash" title="Elimina">
          <f:setPropertyActionListener value="#{item}" target="#{tesoriBean.tesoro}" />
      </p:commandButton>
  </p:column>

 <p:column style="width:32px;text-align: center">
	  	<p:commandButton update="formTesori:dialogDettagliTesori" oncomplete="PF('dettagliTesoro').show();" icon="ui-icon-pencil">
	  		<f:setPropertyActionListener value="#{item}" target="#{tesoriBean.tesoro}" />
	  	</p:commandButton> 
</p:column>

	


</html>
