<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:sec="http://www.springframework.org/security/tags"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/template/layoutPubblico.xhtml">

	<ui:define name="body">  
		 <b:container>
            <b:jumbotron>
             <h:form id="formTesori">
            	<p:messages id="messages" showDetail="true" closable="true">
			    </p:messages>
                <h1>Gestione Tesori</h1>
                <p> Gestione oratori per tesori</p>

               	<p:commandButton value="Inserisci oratore tesori" type="button" onclick="PF('dlgInsertTesoro').show();" /> 
               	
                <p:dialog widgetVar="dettagliTesoro" id="dialogDettagliTesori" closable="true" resizable="true" modal="true" draggable="false" showEffect="explode" hideEffect="clip">
						<ui:include src="modificaTesoriModale.xhtml" />
				</p:dialog>
				
				<h:form id="frmDataTableTesori">
	                <p:dataTable id="dataTableTesori" var="item" value="#{tesoriBean.tesoriList}" paginator="true"
						rows="25" paginatorPosition="bottom" paginatorTemplate="{FirstPageLink} {PreviousPageLink} {CurrentPageReport} {RowsPerPageDropdown} {NextPageLink} {LastPageLink}"
						rowsPerPageTemplate="10,25,50,100" filteredValue="#{tesoriBean.filteredTesori}" reflow="true">
						<ui:include src="dataTableTesori.xhtml"/>
					</p:dataTable>
				</h:form>
				
				<p:dataTable rendered="false" id="dataTableTesoriHidden" var="item" value="#{tesoriBean.tesoriList}" paginator="true"
					rows="25" paginatorPosition="bottom" paginatorTemplate="{FirstPageLink} {PreviousPageLink} {CurrentPageReport} {RowsPerPageDropdown} {NextPageLink} {LastPageLink}"
					rowsPerPageTemplate="10,25,50,100" filteredValue="#{tesoriBean.filteredTesori}" reflow="true">
					<ui:include src="dataTableTesoriHidden.xhtml"/>
				</p:dataTable>
				
				<h3>Esporta dati</h3>
				    <h:commandLink>
				    	<img src="../images/excel.png" alt="Excel" height="24" width="24"></img>
				        <p:dataExporter type="xls" target="dataTableTesoriHidden" fileName="gestione_tesori" pageOnly="false"/>
				    </h:commandLink>
				 
				    <h:commandLink>
				        <img src="../images/pdf.png" alt="PDF" height="24" width="24"></img>
				        <p:dataExporter type="pdf" target="dataTableTesoriHidden" fileName="gestione_tesori" pageOnly="false" />
				    </h:commandLink>
					
               </h:form>
               
               <h:form id="formInsert">
              		 <p:dialog header="Inserisci" widgetVar="dlgInsertTesoro" modal="true" showEffect="explode" hideEffect="clip" height="330">
					    <div align="center">
					    	<p:outputLabel for="nome" value="Nome:" />
					    	<br/>
					        <p:inputText id="nome" value="#{tesoriBean.tesoro.nome}">
							</p:inputText>
						<br/>  <p:outputLabel for="cognome" value="Cognome:" />
						<br/>
								<p:inputText id="cognome" value="#{tesoriBean.tesoro.cognome}">
							</p:inputText>
				        <br/>  
				            <p:outputLabel for="dataLettura" value="Data ultima parte:" />
	      					 <p:calendar locale="it" id="dataLettura" value="#{tesoriBean.tesoro.dataLettura}" mode="inline" />
					    <br/>  
					    	<p:commandButton oncomplete="PF('dlgInsertTesoro').hide()" update="formInsert, formTesori:messages, formTesori:frmDataTableTesori:dataTableTesori" process="formInsert" actionListener="#{tesoriBean.addTesoro}" value="Inserisci"></p:commandButton>
					    </div>
					</p:dialog>
               </h:form>
            </b:jumbotron>
        </b:container>
	</ui:define>
</ui:composition>