<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h2 class="page-header" align="center">Dettagli oratore tesori <p style="color:blue;font-size:25px;">#{tesoriBean.tesoro.cognome} #{tesoriBean.tesoro.nome}</p></h2>
		
		<div align="center">
			<div align="center">
		            <p:outputLabel for="dataLettura" value="Data ultima parte:" />
     					 <p:calendar locale="it" id="dataLettura" value="#{tesoriBean.tesoro.dataLettura}" mode="inline" disabled="#{tesoriBean.dataNulla}"/>
			    <br/>  
			     <p:outputLabel for="dataLettura" value="Data vuota:" />
			     <br/>
			    <p:selectBooleanCheckbox id="checkDataNulla" value="#{tesoriBean.dataNulla}">
		    		<p:ajax update="dataLettura" />
		    	</p:selectBooleanCheckbox>
				<br/>
				<p:commandButton oncomplete="PF('dettagliTesoro').hide()" update="formTesori:messages, formTesori:frmDataTableTesori:dataTableTesori, formTesori:dialogDettagliTesori" actionListener="#{tesoriBean.modificaTesoro}" value="Modifica"></p:commandButton>
			</div>
		</div>

</html>

