<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<p:column headerText="Nome Lettore" style="width: 15%;">
	<h:outputText value="#{lettore.nome}">
	</h:outputText>
</p:column>

<p:column headerText="Cognome Lettore" style="width: 15%;" >
	<h:outputText value="#{lettore.cognome}">
	</h:outputText>
</p:column>

<p:column headerText="Data Ultima lettura" style="width: 15%;" >
	<h:outputText value="#{lettore.dataLettura}">
		<f:convertDateTime locale="it" timeStyle="long"  dateStyle="full"/>
	</h:outputText>
</p:column>

</html>
