<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:sec="http://www.springframework.org/security/tags"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/template/layoutPubblico.xhtml">

	<ui:define name="body">  
		 <b:container>
            <b:jumbotron>
             <h:form id="formLettori">
            	<p:messages id="messages" showDetail="true" closable="true">
			    </p:messages>
                <h1>Gestione Lettori</h1>
                <p> Gestione lettori per torre di guardia e studio di libro</p>

               	<p:commandButton value="Inserisci lettore" type="button" onclick="PF('dlgInsertLettore').show();" /> 
               	
                <p:dialog widgetVar="dettagliLettore" id="dialogDettagliLettore" closable="true" resizable="true" modal="true" draggable="false" showEffect="explode" hideEffect="clip">
						<ui:include src="modificaLettoreModale.xhtml" />
				</p:dialog>
				
				<h:form id="frmDataTableLettori">
	                <p:dataTable id="dataTableLettori" var="lettore" value="#{lettoriBean.lettoriList}" paginator="true"
						rows="25" paginatorPosition="bottom" paginatorTemplate="{FirstPageLink} {PreviousPageLink} {CurrentPageReport} {RowsPerPageDropdown} {NextPageLink} {LastPageLink}"
						rowsPerPageTemplate="10,25,50,100" filteredValue="#{lettoriBean.filteredLettori}" reflow="true">
						<ui:include src="dataTableLettori.xhtml"/>
					</p:dataTable>
				</h:form>
				
				<p:dataTable rendered="false" id="dataTableLettoriHidden" var="lettore" value="#{lettoriBean.lettoriList}" paginator="true"
					rows="25" paginatorPosition="bottom" paginatorTemplate="{FirstPageLink} {PreviousPageLink} {CurrentPageReport} {RowsPerPageDropdown} {NextPageLink} {LastPageLink}"
					rowsPerPageTemplate="10,25,50,100" filteredValue="#{lettoriBean.filteredLettori}" reflow="true">
					<ui:include src="dataTableLettoriHidden.xhtml"/>
				</p:dataTable>
				
				<h3>Esporta dati</h3>
				    <h:commandLink>
				    	<img src="../images/excel.png" alt="Excel" height="24" width="24"></img>
				        <p:dataExporter type="xls" target="dataTableLettoriHidden" fileName="gestione_lettori" pageOnly="false"/>
				    </h:commandLink>
				 
				    <h:commandLink>
				        <img src="../images/pdf.png" alt="PDF" height="24" width="24"></img>
				        <p:dataExporter type="pdf" target="dataTableLettoriHidden" fileName="gestione_lettori" pageOnly="false" />
				    </h:commandLink>
               </h:form>
               
               <h:form id="formInsert">
              		 <p:dialog header="Inserisci" widgetVar="dlgInsertLettore" modal="true" showEffect="explode" hideEffect="clip" height="330">
					    <div align="center">
					    	<p:outputLabel for="nome" value="Nome:" />
					    	<br/>
					        <p:inputText id="nome" value="#{lettoriBean.lettore.nome}">
							</p:inputText>
						<br/>   <p:outputLabel for="cognome" value="Cognome:" />
						<br/>
								<p:inputText id="cognome" value="#{lettoriBean.lettore.cognome}">
							</p:inputText>
				        <br/>  
				            <p:outputLabel for="dataLettura" value="Data ultima lettura:" />
	      					 <p:calendar locale="it" id="dataLettura" value="#{lettoriBean.lettore.dataLettura}" mode="inline" />
					    <br/>  
					    	<p:commandButton oncomplete="PF('dlgInsertLettore').hide()" update="formInsert, formLettori:messages, formLettori:frmDataTableLettori:dataTableLettori" process="formInsert" actionListener="#{lettoriBean.addLettore}" value="Inserisci"></p:commandButton>
					    </div>
					</p:dialog>
               </h:form>
            </b:jumbotron>
        </b:container>
	</ui:define>
</ui:composition>
