<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h2 class="page-header" align="center">Dettagli lettore <p style="color:blue;font-size:25px;">#{lettoriBean.lettore.cognome} #{lettoriBean.lettore.nome}</p></h2>
		
		<div align="center">
			<div align="center">
		            <p:outputLabel for="dataLettura" value="Data ultima lettura:" />
     					 <p:calendar locale="it" id="dataLettura" value="#{lettoriBean.lettore.dataLettura}" mode="inline" disabled="#{lettoriBean.dataNulla}" />
			    <br/>  
			     <p:outputLabel for="dataLettura" value="Data vuota:" />
			     <br/> 
			      <p:selectBooleanCheckbox id="checkDataNulla" value="#{lettoriBean.dataNulla}">
		    		<p:ajax update="dataLettura" />
		    	</p:selectBooleanCheckbox>
		    	<br/>
				<p:commandButton oncomplete="PF('dettagliLettore').hide()" update="formLettori:messages, formLettori:frmDataTableLettori:dataTableLettori, formLettori:dialogDettagliLettore" actionListener="#{lettoriBean.modificaLettore}" value="Modifica"></p:commandButton>
			</div>
		</div>

</html>

