<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:sec="http://www.springframework.org/security/tags"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/template/layoutPubblico.xhtml">

	<ui:define name="body">  
		 <b:container>
            <b:jumbotron>
            	<p:messages id="messages" showDetail="true" closable="true">
			    </p:messages>
			    <h1>Gestione Oratori</h1>
			    <h:form>
			    	<div class="row">
						<div class="col-sm-3"  align="center">
							<div class="input-group">
								<p:commandButton action="/lettori/gestioneLettori.xhtml?faces-redirect=true" value="Lettori"/>
							</div>
						</div>
						<div class="col-sm-3"  align="center">
							<div class="input-group">
								<p:commandButton action="/gemme/gestioneGemme.xhtml?faces-redirect=true" value="Gemme"/>
							</div>
						</div>
						<div class="col-sm-3"  align="center">
							<div class="input-group">
								<p:commandButton action="/preghiere/gestionePreghiere.xhtml?faces-redirect=true" value="Preghiere"/>
							</div>
						</div>
						<div class="col-sm-3"  align="center">
							<div class="input-group">
								<p:commandButton action="/tesori/gestioneTesori.xhtml?faces-redirect=true" value="Tesori"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3"  align="center">
							<div class="input-group">
							<h:commandLink action="/lettori/gestioneLettori.xhtml?faces-redirect=true">
								<p:graphicImage value="/images/lettore.PNG" height="100"/>
							</h:commandLink>
							</div>
						</div>
						<div class="col-sm-3"  align="center">
							<h:commandLink action="/gemme/gestioneGemme.xhtml?faces-redirect=true">
								<p:graphicImage value="/images/gemme.jpg" height="100"/>
							</h:commandLink>
						</div>
						<div class="col-sm-3"  align="center">
							<h:commandLink action="/preghiere/gestionePreghiere.xhtml?faces-redirect=true">
								<p:graphicImage value="/images/preghiere.PNG" height="100"/>
							</h:commandLink>
						</div>
						<div class="col-sm-3"  align="center">
							<h:commandLink action="/tesori/gestioneTesori.xhtml?faces-redirect=true">
								<p:graphicImage value="/images/tesori.jpg" height="100"/>
							</h:commandLink>
						</div>
					</div>
				</h:form>
            </b:jumbotron>
        </b:container>
	</ui:define>
</ui:composition>